ion-header::after{
  background-color: #49B742;
  height: 4px;
}

ion-title{
  text-align: center;
  padding: 0;
  margin: 20px 24px 20px 0;
}

.profile{
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 12px 24px 8px;
  cursor: pointer;

  img{ 
    width: 42px;
    height: 42px;
    border-radius: 9999px;
    background-color: #707070;
  }

  h2{
    margin: 0;
    font-size: 14px;
    color: #666666;
  }
}

ion-content{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list{
  list-style: none;
  margin: 24px 0 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &__item{
    display: flex;
    align-items: center;
    column-gap: 16px;

    img{
      width: 24px;
      height: 24px;
    }

    a{
      text-decoration: none;
      color: #666666;
      font-size: 12px;
    }
  }
}

.horizontal-line{
  width: 100%;
  height: 1px;
  display: block;
  background-color: #CCCCCC99;
}

.button-logout {
  width: 90%;
  height: 44px;
  margin: auto 16px 24px;
  border: 1px solid #49B742;
  color: #49B742;
  background-color: #ffffff;
  border-radius: 8px;
}

.products{
  --background: #F5F5F5;
  font-family: 'Trebuchet MS';

  &__list{
    list-style: none;
    padding: 24px;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 33px;

    li{
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }

    h2{
      font-size: 14px;
      margin: 0;
      color: #49B742;
      font-weight: 700;
      text-transform: uppercase;
    }
    
    .card{
      background-color: #ffffff;
      border: 1px solid #CCCCCC99;
      border-left: 6px solid #49B742;
      border-radius: 4px;
      padding: 16px;
      cursor: pointer;

      &__header{
        display: flex;
        align-items: center;
        column-gap: 12px;

        h3{
          margin: 0;
          font-size: 14px;
          color: #666666;
        }
      }

      &__balance{
        margin-top: 16px;
        display: flex;
        align-items: flex-end;
        color: #666666;

        &--other{
          margin-top: 0px;
        }

        &--prefix{
          margin-right: 4px;
        }

        &--prefix, 
        &--decimal{
          font-size: 14px;
          margin-bottom: 4px;
        }

        &--value{
          font-size: 24px;
        }
      }

      &__text{
        font-size: 10px;
        margin: 0;
        color: #999999;
      }
    }
  }
}